* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Palanquin', sans-serif;
  background: #eff1ff;
  height: 100vh;
}

h1 {
  font-size: 4rem;
  color: #ffffff;
  font-weight: 400;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  -webkit-font-smoothing: antialiased;
}

h1,
span {
  font-family: 'Staatliches', cursive;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  line-height: 3.4rem;
}

header {
  background: #8e9aaf;
  display: grid;
  place-items: center;
}

#logo {
  padding: 3.2rem 0;
}

.title {
  background: #cbc0d3;
  margin-bottom: 2.9rem;
  padding: 0.8rem;
  width: 100%;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.8rem 3.2rem 6rem;
}

.text {
  font-family: 'Palanquin', sans-serif;
  text-align: center;
  padding: 0 3.2rem;

  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #23053a;
  -webkit-font-smoothing: antialiased;
}

.intro-desktop {
  display: none;
}

.cards {
  display: grid;
  gap: 3.2rem;
  margin-top: 5rem;
}

.cards .card {
  position: relative;
  height: fit-content;
}

.cards .card span {
  font-size: 2rem;
  color: #4a4e69;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  background: #feeafa;
  border-radius: 2rem;
  width: 11.2rem;
  text-align: center;
  letter-spacing: 0.2rem;
}

.cards .card img {
  width: 100%;
  border-radius: 2rem;
}

@media (min-width: 900px) {
  .container {
    display: flex;
  }

  header {
    width: 37.7rem;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
  }

  .title {
    margin-bottom: 3.2rem;
  }

  .text {
    display: none;
  }

  .intro-desktop {
    display: block;
    color: #ffffff;
    font-size: 1.8rem;
    line-height: 1.5;
    width: 28rem;
    text-align: center;
  }

  .cards {
    margin-left: 37.7rem;
    grid-template-areas:
      'A B'
      'C B'
      'C D'
      'E F';
  }
  .cards .card:nth-child(1) {
    grid-area: A;
  }

  .cards .card:nth-child(2) {
    grid-area: B;
  }

  .cards .card:nth-child(3) {
    grid-area: D;
  }

  .cards .card:nth-child(4) {
    grid-area: C;
  }

  .cards .card:nth-child(5) {
    grid-area: E;
  }

  .cards .card:nth-child(6) {
    grid-area: F;
  }
}

@media (min-width: 1440px) {
  .cards {
    grid-template-areas:
      'A B C'
      'D B E'
      'D F E';
  }

  .cards .card:nth-child(1) {
    grid-area: A;
  }

  .cards .card:nth-child(2) {
    grid-area: B;
  }

  .cards .card:nth-child(3) {
    grid-area: C;
  }

  .cards .card:nth-child(4) {
    grid-area: D;
  }

  .cards .card:nth-child(5) {
    grid-area: F;
  }

  .cards .card:nth-child(6) {
    grid-area: E;
  }
}
